

.container{
  margin: auto;
  text-align: center;
}

table{
  margin: auto;
}

button{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #f0eded;
  margin: 5px 5px 5px 5px;
  border-spacing: 5px;
  border: 2px solid black;
}
